.start_hidden {
    visibility: hidden;
    opacity: 0;
}

.fade_out {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0s 1s,
        opacity 1s linear;
}

.fade_in {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}


@keyframes fall-right {
    0% {
        transform: translate3d(0, 0, 0px);
    }
    40% {
        transform: translate3d(-50px, 0, 0px);
    }
    100% {
        transform: translate3d(5000px, 0, 0px);
    }
}
.fall-right {
    animation: fall-right 1.0s 1;
}


.char-wrapper {
    width: 80px;
    float: left;
    margin: 0 5px 0 4px;
}
.char-wrapper.not-in-stock {
    opacity: 0.3;
}
#characters .char-wrapper {
    height: 140px;
    margin: 0 6px 10px 7px;
}
.squads .char-wrapper {
}

.delete-squad {
    top: 5px;
    right: 5px;    
}

.char-name {

}
.character .char-portrait {
    float: left;
    margin-right: 10px;
}

.char-portrait {
    background-color: #000;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.char-portrait-light-side .char-portrait-image {
    border-color: #3f8cba;
    box-shadow: 0 0 3px 2px rgba(63,140,186,.8) inset;
}
.char-portrait-image {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #333;
    background-color: #000;
    box-shadow: 0 0 3px 2px rgba(0,0,0,.8) inset;
}
.char-portrait-img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #111;
}